.project
.pydevproject

*.py[co]
*.log

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
develop-eggs
.installed.cfg


tags

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
lint.xml


test/playlists/*
